/****** Text selection ******/
::selection {
    color: var(--secondary-color);
    background: var(--primary-color);
}

.navbar-toggler {
    cursor: pointer;
}

/****** Margin Top / bottom Section ******/
.mb-6 {
    margin-bottom: 120px;
}

.mt-6 {
    margin-top: 100px;
}

.top-container {
    margin: 200px 0 0 0;
}

.h1t-no-hero {
    font-weight: 700;
    text-align: center;
    padding-bottom: 10px;
}

.b-bottom-title {
    display: block;
    border-bottom: 2px solid var(--primary-color);
    width: 250px;
}



/****** Hero ******/
section {
    position: relative;
}

.bg-hero {
    background: url("../img/spider-man-no-way-home-hero.webp") no-repeat center;
    background-size: cover;
    display: flex;
    z-index: 1;
}

.overlay {
    margin: 200px 0;
    z-index: 2;
}

.bg-hero:before {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.6);
    z-index: 0;
}

.new {
    position: relative;
    color: #fff;
    font-weight: 500;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.new:after {
    content : "";
    display: block;
    position: absolute;
    left    : 0;
    bottom  : 0;
    height  : 2px;
    width   : 75px;
    border-bottom: 2px solid #fff;
}

.hero-title {
    color: #fff;
    font-weight: 700;
}

.hero-text {
    color: #fff;
    width: 75%;
}

.w-btn-hero {
    width: 200px;
}

.hero-video {
    height: 330px;
    width: 100%;
    border-radius: 8px;
}




/****** Calendar ******/
.title-section {
    padding-left: 8px;
    font-weight: 700;
    border-left: 10px solid var(--primary-color);
}

.w-search-bar {
    width: 50%;
}

.search-form {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    border-bottom: 1px solid;
    border-right: 0 solid;
    border-top: 1px solid;
    border-left: 1px solid;
    border-color: var(--border-color) !important;
    background: var(--bg-light);
    border-radius: 4px 0 0 4px;
    transition: .3s all ease-in-out;
    outline: none;
}

.search-form:focus {
    border-bottom: 1px solid;
    border-right: 0 solid;
    border-top: 1px solid;
    border-left: 1px solid;
    border-color: var(--border-color) !important;
}

.default-form {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    border: 1px solid var(--bg-light) !important;
    background: var(--bg-light);
    border-radius: 4px;
    transition: .3s all ease-in-out;
}

.form-control:focus {
    color: #212529;
    border: 1px solid var(--primary-color) !important;
    background-color: var(--bg-light);
    box-shadow: none;
}

.search-btn {
    display: block;
    padding: .375rem 0.75rem;
    border-bottom: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
    border-left: 1px solid var(--bg-light);
    background: var(--bg-light);
    border-radius: 0 4px 4px 0;
}

.icon-search {
    height: 20px;
}

.btn-primary.active {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.active-btn:hover {
    background-color: var(--primary-color);
}

.card {
    border: none!important;
    border-radius: 8px!important;
    transition: .25s all ease-in-out;
}

.card:hover {
    transform: scale(1.03);
}

.card-img-top {
    border-radius: 4px!important;
}

.infos-movies {
    position: absolute;
    color: #fff;
    text-decoration: none;
    padding: 15px;
    z-index: 1;
    bottom: 0;
}

.movie-name {
    font-size: 20px;
    font-weight: 700;
    z-index: 99;
}

.overlay-movie:before {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: linear-gradient(0deg, rgba(31,31,31,.85) 0%, rgba(0,0,0,0.5) 30%, rgba(0,0,0,0) 100%);;
    z-index: 0;
    border-radius: 8px;
}

.timer-movie {
    font-weight: 600;
    font-size: 16px;
}

.point:before {
    content:"•";
    color: #fff;
    padding: 0 2px;
}

.type-movie {
    font-size: 14px;
    font-weight: 500;
}

.tl-span {
    font-size: 14px;
    font-weight: 500;
}

.btn-primary-add {
    background: #f2f2f7;
    display: inline-block;
    font-weight: 500;
    line-height: 1.5;
    color: var(--text-dark);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    z-index: 2;
    border: 2px solid #f2f2f7;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: 4px;
    transition: all .3s ease-in-out;
}

.btn-primary-add:hover {
    background: #dedee3;
    border: 2px solid #dedee3;
    color: var(--text-dark);
}




/****** Topics ******/
.img-articles {
    height: 215px;
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.title-topic {
    color: var(--text-dark);
    font-size: 18px;
    font-weight: 700;
}
.tt-topic {
    font-size: 14px;
    font-weight: 600;
    color: #727281;
    margin-bottom: 3px;
}

.flex-article {
    display: flex;
    flex-direction: column;
}






/****** Who we are ******/
.hwr-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.g-map {
    border-radius: 8px;
}




/****** Who we are ******/
.ads {
    display: block;
    background: url("../img/1200x200_zendaya-tom-holland-spider-man-no-way-home-john-watts.jpg") center no-repeat, #000;
    background-size: contain;
    height: 250px;
    width: 100%;
    border-radius: 8px;
}

.object-fit-cover {
    object-fit: cover;
}








/****** Newsletter ******/
.bg-cta {
    background: url("../img/bg-cta-icons.png"), var(--primary-color);
    height: 400px;
}

.title-cta {
    font-weight: 700;
}





/****** Form Contact ******/
.title-contact-form {
    position: relative;
    font-weight: 700;
    padding-bottom: 8px;
    margin-bottom: 16px;
}

.title-contact-form:after {
    content : "";
    display: block;
    position: absolute;
    left    : 0;
    bottom  : 0;
    height  : 2px;
    width   : 180px;
    border-bottom: 2px solid var(--primary-color);
}

.icons-forms {
    background-color: var(--primary-color);
    height: 35px;
    padding: 8px;
    border-radius: 50%;
}

.w-btn-forms {
    width: 35%;
}





/****** Col-extra-small 425 ******/
@media (max-width: 1024px) {
    .ads {
        display: block;
        background: url("../img/1200x200_zendaya-tom-holland-spider-man-no-way-home-john-watts.jpg") 4% 50% no-repeat, #000;
        background-size: cover;
        height: 200px;
        width: 100%;
        border-radius: 8px;
    }
}







/****** Media queries ******/
/** Medium devices (tablets, 768px and down) **/

@media (max-width: 768px) {
    .overlay {
        margin: 100px 0;
    }

    .w-sm-mobile {
        padding: .5rem 1rem;
    }

    .hero-text {
        width: 100%;
    }

    .order-mt-1 {
        order: 1!important;
    }

    .order-mt-2 {
        order: 2!important;
    }

    .ads {
        display: block;
        background: url("../img/1200x200_zendaya-tom-holland-spider-man-no-way-home-john-watts.jpg") -45% 50% no-repeat, #000;
        background-size: cover;
        height: 200px;
        width: 100%;
        border-radius: 8px;
    }
}





/****** Col-extra-small 425 ******/
@media (max-width: 425px) {
    .ads {
        display: block;
        background: url("../img/1200x200_zendaya-tom-holland-spider-man-no-way-home-john-watts.jpg") 4% 50% no-repeat, #000;
        background-size: cover;
        height: 200px;
        width: 100%;
        border-radius: 8px;
    }
}





/****** Col-extra-small 375 ******/
@media (max-width: 375px) {
    .col-12-xs {
        flex: 0 0 auto;
        width: 100%;
    }

    .ads {
        display: block;
        background: url("../img/1200x200_zendaya-tom-holland-spider-man-no-way-home-john-watts.jpg") 7% 50% no-repeat, #000;
        background-size: cover;
        height: 200px;
        width: 100%;
        border-radius: 8px;
    }
}




/****** Col-extra-small 320 ******/
@media (max-width: 320px) {
    .ads {
        display: block;
        background: url("../img/1200x200_zendaya-tom-holland-spider-man-no-way-home-john-watts.jpg") 11% 50% no-repeat, #000;
        background-size: cover;
        height: 200px;
        width: 100%;
        border-radius: 8px;
    }
}
