.hero-film {
    position: relative;
    background: url("../img/spider-man-no-way-home-hero.webp") center no-repeat;
    background-size: cover;
    padding: 80px 0!important;
    border-radius: 8px;
    color: #fff;
    z-index: 99;
}

.hero-film:before {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.6);
    z-index: -1;
    border-radius: 8px;
}

.title-pre-reservation {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.year-film {
    font-size: 18px;
    font-weight: 600;
}

.icons-film {
    height: 25px;
}

.info-movie {
    line-height: 40px;
}